In [1]:
import sqlite3

# Data Wrangling with Python: Activity 11, page 320

In [2]:
#Step 1 - Connect to petsDB and check whether the connection has been succssful
conn = sqlite3.connect("petsdb") #setting up the connection

In [3]:
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False
#Used solution code here. Tried a few different ways to do this after searching on Google a bit but couldn't find exactly what I needed

In [4]:
print(is_opened(conn))

True

In [5]:
conn.close() #Book says it's important to close connection.

In [6]:
print(is_opened(conn)) #Considering this negative testing. Want to make sure that once my connection is closed I receive the error expected

Connection closed Cannot operate on a closed database.
False

In [7]:
#Step 2 - Find the different age groups in the persons database
conn = sqlite3.connect("petsdb") #Since I closed above I need to re-connect to pets

In [8]:
c = conn.cursor() #Creating cursor. This acts as a medium to communicate with the database

In [10]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people aged {}".format(ppl, age)) #Looking for ages for people. By using select * it will read through all of the columns.By having open {} it allows us to find all people with ages.

There are 2 people aged 5
There are 1 people aged 6
There are 1 people aged 7
There are 3 people aged 8
There are 1 people aged 9
There are 2 people aged 11
There are 3 people aged 12
There are 1 people aged 13
There are 4 people aged 14
There are 2 people aged 16
There are 2 people aged 17
There are 3 people aged 18
There are 1 people aged 19
There are 3 people aged 22
There are 2 people aged 23
There are 3 people aged 24
There are 2 people aged 25
There are 1 people aged 27
There are 1 people aged 30
There are 3 people aged 31
There are 1 people aged 32
There are 1 people aged 33
There are 2 people aged 34
There are 3 people aged 35
There are 3 people aged 36
There are 1 people aged 37
There are 2 people aged 39
There are 1 people aged 40
There are 1 people aged 42
There are 2 people aged 44
There are 2 people aged 48
There are 1 people aged 49
There are 1 people aged 50
There are 2 people aged 51
There are 2 people aged 52
There are 2 people aged 53
There are 2 people aged 54
There are 1 people aged 58
There are 1 people aged 59
There are 1 people aged 60
There are 1 people aged 61
There are 2 people aged 62
There are 1 people aged 63
There are 2 people aged 65
There are 2 people aged 66
There are 1 people aged 67
There are 3 people aged 68
There are 1 people aged 69
There are 1 people aged 70
There are 4 people aged 71
There are 1 people aged 72
There are 5 people aged 73
There are 3 people aged 74

In [11]:
#Step 3 - Find the age group that has the maximum number of people
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break
#Again we're looking at people and age, but trying to find the highest. Using count will count the number of people

Highest number of people 5 came from 73 age group

In [12]:
#Step 4 - Find the people who do not have a last name
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)
#Used solution code here. I had an idea of what I needed to do with sql. In this I'm selecting the count of persons where the last name is null. I wasjust missing the second piece going row by row.

(60,)

In [14]:
#Step 5 - Find out how many people have more than one pet
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} People have more than one pets".format(row[0]))
#Took the idea from step 4 and basically copied most of it on here but changed it to look at count by owner and making it greater than 1 pet

43 People have more than one pets

In [15]:
#Step 6 - Find out how many pets have received treatment
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)
#Again this was a copy from step 4 just changed the sql to look at count of pets and if the treat was done

(36,)

In [16]:
#Step 7 - Find out how many pets have received treatment and the type of pet is known
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)
#Mostly a copy of step 6 just added in pet type is not null, which looks only at the pets that are described and not null

(16,)

In [17]:
#Step 8 - Find out how many pets are from the city called East Port
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)
#Again basically a copy. Looking at pet owners and where their city = east port. I like sql it's pretty straight forward for the most part.

(49,)

In [18]:
#Step 9 - Find out how many pets are from the city called east port and who received a treatment
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)
#Copied from step 8 and added the treatment piece from the pets in east port

(11,)